.nav__reservation {
    background-color: #f9f6f6;
    @include centrer;
    flex-direction: column;

    h1 {
        font-size: 27px;
        text-align: center;
        margin-top: 45px;
    }

    p {
        font-size: 20px;
        text-align: center;
        margin-top: 0;
        font-weight: 200;
    }
}